body {
  background-color: #f3f4f6;
  font-family: sans-serif;
}
#max {
  display: flex;
  justify-content: space-between;
}
#main {
  width: 23%;
  height: 80vh;
  margin: 3rem auto;
  padding: 0.5rem 2rem;
  background-color: white;
  border-radius: 0.6rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
#buget {
  width: 25%;
  height: 40vh;
  margin: 3rem auto;
  padding: 2rem;
  background-color: white;
  border-radius: 0.6rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
#data {
  width: 18%;
  height: 35vh;
  margin: 3rem auto;
  padding: 2rem;
  background-color: white;
  border-radius: 0.6rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
#Element {
  width: 25%;
  height: 40vh;
  margin: 3rem auto;
  padding: 2rem;
  background-color: white;
  border-radius: 0.6rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.box input {
  width: 100%;
  height: 1.7rem;
}

p {
  margin: 0;
}
.error {
  color: red;
  font-size: 0.8rem;
}
#button {
  width: 100%;
  padding: 0.3rem;
}
.edit {
  width: 93%;
  padding: 0.3rem;
  font-size: 3rem;
}
.edit1 {
  width: 100%;
  text-align: center;
}
.edit1 td {
  width: 50%;
}

.colour {
  color: green;
  font-size: 1.5rem;
}
.col {
  color: red;
  font-size: 1.5rem;
}
#ExpTitle {
  margin: 10px;
}
#ExpValue {
  margin: 10px;
}